.chat_main
  .chat_main__group_info
    .chat_main__group_info--name
      = @group.name
      .chat_main__group_info--menbers
        -@group.users.each do |user|
          = user.name
    %ul.chat_main__group_info--btn
      = link_to "Edit", edit_group_path(@group.id), class: 'btn_edit'
  
  .chat_main__space
    = render @messages

  .chat_main__message
    .chat_main__message__form
      = form_for [@group, @message] do |f|
        .chat_main__message__form__input
          = f.text_field :content, class: 'chat_main__message__form__input--text', placeholder: 'type a message'
          .form__icon
            = f.label :image, class: 'form__label' do
              = icon('fas', 'image', class: 'form__image')
              = f.file_field :image, class: 'form__file'
          = f.submit 'Send', class: 'form_send_btn'