.side_bar
  .side_bar__username
    .side_bar__top
      .side_bar__top--username
        = current_user.name
      %ul.side_bar__top--icon
        = link_to new_group_path do
          = icon('fas', 'edit', class: "side_bar__top--icon_btn")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "side_bar__top--icon_btn")
  
  .side_bar__group
    - current_user.groups.each do |group|
      .side_bar__group_list
        = link_to group_messages_path(group) do
          .side_bar__group_list--name
            = group.name
          .side_bar__group_list--message
            = group.show_last_message