.side_bar
  .side_bar_user_name
    .top_user_name_space
      .top_user_name
        username
      .top_icon
        = link_to "#", class: "top_icon__btn" do
          = icon('fas', 'edit')
        = link_to "#", class: "top_icon__btn" do
          = icon('fas', 'cog')
  .side_bar_group 
    = link_to "#", class: "group__name" do
      test
    = link_to "#", class: "group__message" do
      まだメッセージがありません